:root {
    --black: #000;
    --grey: #333;
    --mainRed: #b72324;
}

a {
    cursor: pointer;
}

.sb_title-description {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.sb_title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.sb-red-lines span:nth-child(1) {
    display: block;
    width: 80px;
    background: var(--mainRed);
    height: 1px;
    margin: 0 auto;
    margin-top: 10px;
}

.sb-red-lines span:nth-child(2) {
    display: block;
    width: 50px;
    background: var(--mainRed);
    height: 1px;
    margin: 0 auto;
    margin-top: 7px;
}

.section-blog_search {
    padding-top: 50px;
}

.sb-blog_content {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
}

.sb-blog-box {
    width: 32%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 36px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 36px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 36px -17px rgba(0,0,0,0.75);
    margin: 7px;
}

.sb-blog_info {
    padding: 15px;
}

.sb-blog_img img {
    border-radius: 10px 10px 0px 0px;
}

.sb-blog_title {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    color: #363636;
}

.sb-blog_title:hover {
    color: var(--mainRed);
}

.sb-blog_date {
    display: flex;
    align-items: flex-end;
    padding-top: 10px;
    padding-bottom: 10px;
}

.sb-blog_date img {
    width: 15px;
}

.sb-blog_date span {
    font-size: 14px;
    padding-left: 10px;
    color: #626262;
    position: relative;
    top: 1px;
}

.sb-blog_button {
    display: inline-block;
    background: var(--mainRed);
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 10px;
}

.sb-blog_button:hover {
    background: #920909;
}

.sb-blog_text {
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* BLOG PAGE */

.blog-flex {
    display: flex;
    justify-content: space-between;
}

.blog-info_box {
    width: 70%;
}

.other-blogs {
    width: 28%;
}

.blog-section {
    padding-top: 50px;
}

.ob-title {
    font-size: 16px;
    font-weight: 600;
    color: #363636;
    position: relative;
    margin-bottom: 10px;
}

.ob-title::before {
    content: ' ';
    background: var(--mainRed);
    width: 35px;
    height: 2px;
    position: absolute;
    bottom: -7px;
}

.other-blogs_box {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}

.other-blogs > div.other-blogs_box:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
}

.ob_left {
    width: 30%;
}

.ob_right {
    width: 70%;
    padding-left: 10px;
}

.ob_name {
    color: #000000;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ob_name:hover {
    color: var(--mainRed);
}

.ob_date {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.ob_date img {
    width: 13px;
}

.ob_date span {
    color: #000000;
    font-size: 13px;
    position: relative;
    padding-left: 7px;
}

.blog_title {
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.blog-date {
    display: flex;
    align-items: center;
}

.blog-date img {
    width: 15px;
}

.blog-date span {
    font-size: 14px;
    margin-left: 8px;
    color: #626262;
    position: relative;
    bottom: -1px;
}

.blog-info_box p {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    padding-top: 15px;
}

.share-social {
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.share-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mainRed);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    transition: 0.3s;
}

.share-social a:hover {
    border-radius: 50px;
    transition: 0.3s;
}

/* ADVERTEREN PAGE */

.adverteren-info h2 {
    color: var(--mainRed);
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}

.adverteren-info p {
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    padding-top: 20px;
    font-weight: 400;
}

.adverteren-link {
    padding-top: 20px;
}

.adverteren-link a {
    color: var(--mainRed);
    font-size: 15px;
    line-height: 24px;
    padding-top: 3px;
    font-weight: 400;
    display: block;
}

.adverteren-info {
    padding-top: 40px;
}

@media screen and (max-width:1170px) {
    .sb-blog-box {
        width: 49%;
        margin-left: 0px;
        margin-right: 0px;
    }

    .sb-blog_content {
        justify-content: space-between;
    }

    .sb-blog-box {
        margin-top: 18px;
    }

    .sb-blog_title {
        line-height: 20px;
    }
}

@media screen and (max-width:768px) {
    .blog-flex {
        flex-direction: column;
    }

    .blog-info_box {
        width: 100%;
    }
    
    .other-blogs {
        width: 100%;
        margin-top: 20px;
    }

    .blog-section {
        padding-top: 20px;
    }

    .footer-section {
        margin-top: 20px;
    }

    .adverteren-info {
        padding-top: 20px;
    }
}

@media screen and (max-width:500px) {
    .sb-blog-box {
        width: 100%;
    } 

    .section-blog_search {
        padding-top: 20px;
    }
}
